mat-toolbar {
    margin-bottom: 40px;
}

.spacer {
    flex: 1 1 auto;
}

#min-cart {
    mat-icon {
        vertical-align: bottom;
    }
    span {
        font-size: .8em;
        font-weight: 400;
    }
}