<div class="row product-card">
  <div class="col-md">
    <img [src]="product.picture" alt="Photo of a Shiba Inu">
    <mat-card-header class="product-card-label">
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.brand }}</mat-card-subtitle>
    </mat-card-header>
  </div>
  <div class="col-md-5 text-right product-cart-price">
    {{ product.quantity }} x {{ product.price | currency }} = {{ (product.price * product.quantity) | currency }}
  </div>
  <div class="col-md-1 text-right">
    <button mat-icon-button color="warn">
      <mat-icon aria-label="Example icon-button with a heart icon" (click)="removeFromCart(product)">close</mat-icon>
    </button>
  </div>
</div>