.form-container {
    display: flex;
    flex-direction: column;
}

form {
    margin-top: 20px;
    button {
        margin-bottom: 10px;
    }
}

.login-tabs {
    width: 100%;
    .mat-tab-labels {
        background: red;
        width: 100%;
    }
}

.btn-socail {
    color: #FFF;
    &.google {
        background: #DD4B39;
    }
    &.facebook {
        background: #3B5998;
    }
    &.github {
        background: #444444;
    }
}