<h1 class="plr-30">Checkout Process</h1>
<div class="plr-30">
  <mat-horizontal-stepper [linear]="true">
    <mat-step>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>My cart</ng-template>
        <app-cart-items ></app-cart-items>
        <div class="mt-30">
          <a routerLink="/" mat-raised-button matStepperPrevious color="primary" class="back-btn">Continue Shopping</a>
          <button mat-raised-button matStepperNext color="accent" class="next-btn">Checkout</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Dilivery</ng-template>

        <div class="mt-30">
          <button mat-raised-button matStepperPrevious color="primary" class="back-btn">Back to cart</button>
          <button mat-raised-button matStepperNext color="accent" class="next-btn">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Payment</ng-template>
      You are now done.
      <div class="mt-30">
        <button mat-raised-button matStepperPrevious color="primary" class="back-btn">Back to delivery</button>
        <button mat-raised-button matStepperNext color="accent" class="next-btn">Payment</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

</div>