@import "./flexboxgrid.scss";
@import "./spacing.scss";
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    background: #fafafa;
}

a {
    color: #444444;
    text-decoration: none;
}

.mat-primary a {
    color: #ffffff;
}

.divider {
    position: relative;
    width: 100%;
    text-align: center;
    &::before,
    &::after {
        position: absolute;
        width: 130px;
        height: 1px;
        top: 50%;
        background-color: rgba(100, 100, 100, .5);
        content: '';
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}